In [21]:
# Due to the file system setting of the Jupyter Notebook, navigate to the package to use infra
%cd /home/jupyter/quant

/home/jupyter/quant

#### Read in data using predefine data loading scripts

In [22]:
date_range = ('2017-01-01', '2020-03-13')

%run -i 'notebooks/explore/load_nasdaq_opec_fed.py'

In [23]:
nasdaq_settlement_pd

,nasdaq_settlement_value,High,Low,Total Market Value,Dividend Market Value
date,,,,,
2017-01-01,NaN,NaN,NaN,NaN,NaN
2017-01-02,NaN,NaN,NaN,NaN,NaN
2017-01-03,4911.33,0.0,0.0,0.0,0.0
2017-01-04,4937.20,0.0,0.0,0.0,0.0
2017-01-05,4964.95,0.0,0.0,0.0,0.0
...,...,...,...,...,...
2020-03-09,7948.03,0.0,0.0,0.0,0.0
2020-03-10,8372.27,0.0,0.0,0.0,0.0
2020-03-11,8006.12,0.0,0.0,0.0,0.0
2020-03-12,7263.65,0.0,0.0,0.0,0.0
2020-03-13,7995.26,0.0,0.0,0.0,0.0

In [24]:
opec_pd

            opec_oil_price
date
2017-01-01             NaN
2017-01-02             NaN
2017-01-03           53.13
2017-01-04           52.71
2017-01-05           53.02
...                    ...
2020-03-09           34.71
2020-03-10           35.71
2020-03-11           35.54
2020-03-12           33.25
2020-03-13             NaN

[1168 rows x 1 columns]

In [25]:
fed_pd

,SVENPY01,SVENPY02,SVENPY03,SVENPY04,SVENPY05,SVENPY06,SVENPY07,SVENPY08,SVENPY09,SVENPY10,...,SVENPY21,SVENPY22,SVENPY23,SVENPY24,SVENPY25,SVENPY26,SVENPY27,SVENPY28,SVENPY29,SVENPY30
date,,,,,,,,,,,,,,,,,,,,,
2017-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-03,0.9171,1.2238,1.5168,1.7682,1.9727,2.1348,2.2618,2.3614,2.4405,2.5043,...,2.8859,2.9135,2.9408,2.9677,2.9943,3.0204,3.0460,3.0711,3.0956,3.1195
2017-01-04,0.9059,1.2400,1.5335,1.7787,1.9778,2.1369,2.2632,2.3636,2.4439,2.5092,...,2.8901,2.9172,2.9442,2.9709,2.9974,3.0236,3.0495,3.0749,3.1000,3.1245
2017-01-05,0.8696,1.1867,1.4696,1.7078,1.9020,2.0576,2.1814,2.2799,2.3590,2.4235,...,2.8044,2.8315,2.8583,2.8848,2.9110,2.9369,2.9624,2.9875,3.0121,3.0361
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-03-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-03-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-03-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-03-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
filtered_nasdaq_opec_data_pd = pd.concat([nasdaq_settlement_pd[['nasdaq_settlement_value']], opec_pd[['opec_oil_price']]], axis=1, sort=False)

filtered_nasdaq_fed_pd =  pd.concat([nasdaq_settlement_pd[['nasdaq_settlement_value']], fed_pd], axis=1, sort=False)

#### Generate comparative trace plot

In [ ]:
plot.time_series(filtered_nasdaq_opec_data_pd, cols=['nasdaq_settlement_value'], left_y_title='NASDAQ Settlement Value', right_cols=['opec_oil_price'], right_y_title='OPEC Oil Price', title='NASDAQ vs OPEC', name='nasdaq_settlement_value_opec_oil')

In [ ]:
plot.time_series(filtered_nasdaq_fed_pd, cols=['nasdaq_settlement_value'], left_y_title='NASDAQ Settlement Value', 
                 right_cols=['SVENPY01', 'SVENPY02', 'SVENPY05', 'SVENPY10', 'SVENPY15', 'SVENPY20', 'SVENPY30'], 
                 right_y_title='US Fed Rate', title='NASDAQ vs US Fed Rate', name='nasdaq_settlement_value_fed_rate')