In [1]:
%cd /home/jupyter/quandl

/home/jupyter/quandl

In [2]:
from yitian.datasource import file_utils, load

In [5]:
parent_bucket_dir = 'gs://zhongyuan-dw/equity/nasdaq/settlement_value'
file_dir_list = file_utils.list_bucket_files(parent_bucket_dir)

In [6]:
file_dir_list

['gs://zhongyuan-dw/equity/nasdaq/settlement_value/2017/2017-01-01_2017-12-31_daily.csv',
 'gs://zhongyuan-dw/equity/nasdaq/settlement_value/2016/2016-12-19_2016-12-31_daily.csv',
 'gs://zhongyuan-dw/equity/nasdaq/settlement_value/2019/2019-01-01_2019-12-31_daily.csv',
 'gs://zhongyuan-dw/equity/nasdaq/settlement_value/2018/2018-01-01_2018-12-31_daily.csv',
 'gs://zhongyuan-dw/equity/nasdaq/settlement_value/2020/2020-01-01_2020-03-06_daily.csv']

In [7]:
nasdaq_settlement_pd = load.load_lists_of_csv(file_dir_list)

In [8]:
nasdaq_settlement_pd

,Trade Date,Index Value,High,Low,Total Market Value,Dividend Market Value
0,2017-12-29,6396.42,0.0,0.0,0.0,0.0
1,2017-12-28,6441.42,0.0,0.0,0.0,0.0
2,2017-12-27,6435.15,0.0,0.0,0.0,0.0
3,2017-12-26,6433.16,0.0,0.0,0.0,0.0
4,2017-12-22,6465.17,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...
803,2020-01-08,8912.37,0.0,0.0,0.0,0.0
804,2020-01-07,8846.45,0.0,0.0,0.0,0.0
805,2020-01-06,8848.52,0.0,0.0,0.0,0.0
806,2020-01-03,8793.90,0.0,0.0,0.0,0.0
807,2020-01-02,8872.22,0.0,0.0,0.0,0.0