In [1]:
# Due to the file system setting of the Jupyter Notebook, navigate to the package to use infra
%cd /home/jupyter/quant

[Errno 2] No such file or directory: '/home/jupyter/quant'
/Users/ziranfeng/jiuyin/quandl/notebooks/etl/yfinance

In [2]:
from datetime import datetime
import pandas as pd
import pymysql

from yitian.datasource import PRIVATE_HOST, USER, DATABASE

ModuleNotFoundError: No module named 'pymysql'

In [ ]:
# Set up cloud sql connections
password = 'jinyongwuxia'
connection = pymysql.connect(host=PRIVATE_HOST,
                             user=USER,
                             password=password,
                             db=DATABASE)

#### Create yfinance SQL tables for the first time

In [44]:
%run -i 'notebooks/etl/yfinance/create_tables.py'

/opt/conda/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1050, "Table 'nasdaq_daily' already exists")
  result = self._query(query)

### Extract and insert stock price datato cloud storage and SQL

#### Batch Load Max history data

In [ ]:
nasdaq_pd = pd.read_sql("SELECT * FROM quant.nasdaq", connection)
nasdaq_ticker = nasdaq_pd.symbol

In [49]:
# Load data to Cloud storage and SQL
table_name = 'nasdaq_daily'
period = 'max'

for t in nasdaq_ticker:
    ticker = t
    print(datetime.now())
    
    %run -i 'notebooks/etl/yfinance/batch_extract_stock_price.py'
    print("======================================================================================================================================================")

2020-03-30 05:25:14.117392
======================================================================================================================================================
[*********************100%***********************]  1 of 1 completed
AAPL in year 1980 has been write to gs://zhongyuan-dw/equity/company/aapl/1980/daily.csv
AAPL in year 1981 has been write to gs://zhongyuan-dw/equity/company/aapl/1981/daily.csv
AAPL in year 1982 has been write to gs://zhongyuan-dw/equity/company/aapl/1982/daily.csv
AAPL in year 1983 has been write to gs://zhongyuan-dw/equity/company/aapl/1983/daily.csv
AAPL in year 1984 has been write to gs://zhongyuan-dw/equity/company/aapl/1984/daily.csv
AAPL in year 1985 has been write to gs://zhongyuan-dw/equity/company/aapl/1985/daily.csv
AAPL in year 1986 has been write to gs://zhongyuan-dw/equity/company/aapl/1986/daily.csv
AAPL in year 1987 has been write to gs://zhongyuan-dw/equity/company/aapl/1987/daily.csv
AAPL in year 1988 has been write to gs://zhongyuan-dw/equity/company/aapl/1988/daily.csv
AAPL in year 1989 has been write to gs://zhongyuan-dw/equity/company/aapl/1989/daily.csv
AAPL in year 1990 has been write to gs://zhongyuan-dw/equity/company/aapl/1990/daily.csv
AAPL in year 1991 has been write to gs://zhongyuan-dw/equity/company/aapl/1991/daily.csv
AAPL in year 1992 has been write to gs://zhongyuan-dw/equity/company/aapl/1992/daily.csv
AAPL in year 1993 has been write to gs://zhongyuan-dw/equity/company/aapl/1993/daily.csv
AAPL in year 1994 has been write to gs://zhongyuan-dw/equity/company/aapl/1994/daily.csv
AAPL in year 1995 has been write to gs://zhongyuan-dw/equity/company/aapl/1995/daily.csv
AAPL in year 1996 has been write to gs://zhongyuan-dw/equity/company/aapl/1996/daily.csv
AAPL in year 1997 has been write to gs://zhongyuan-dw/equity/company/aapl/1997/daily.csv
AAPL in year 1998 has been write to gs://zhongyuan-dw/equity/company/aapl/1998/daily.csv
AAPL in year 1999 has been write to gs://zhongyuan-dw/equity/company/aapl/1999/daily.csv
AAPL in year 2000 has been write to gs://zhongyuan-dw/equity/company/aapl/2000/daily.csv
AAPL in year 2001 has been write to gs://zhongyuan-dw/equity/company/aapl/2001/daily.csv
AAPL in year 2002 has been write to gs://zhongyuan-dw/equity/company/aapl/2002/daily.csv
AAPL in year 2003 has been write to gs://zhongyuan-dw/equity/company/aapl/2003/daily.csv
AAPL in year 2004 has been write to gs://zhongyuan-dw/equity/company/aapl/2004/daily.csv
AAPL in year 2005 has been write to gs://zhongyuan-dw/equity/company/aapl/2005/daily.csv
AAPL in year 2006 has been write to gs://zhongyuan-dw/equity/company/aapl/2006/daily.csv
AAPL in year 2007 has been write to gs://zhongyuan-dw/equity/company/aapl/2007/daily.csv
AAPL in year 2008 has been write to gs://zhongyuan-dw/equity/company/aapl/2008/daily.csv
AAPL in year 2009 has been write to gs://zhongyuan-dw/equity/company/aapl/2009/daily.csv
AAPL in year 2010 has been write to gs://zhongyuan-dw/equity/company/aapl/2010/daily.csv
AAPL in year 2011 has been write to gs://zhongyuan-dw/equity/company/aapl/2011/daily.csv
AAPL in year 2012 has been write to gs://zhongyuan-dw/equity/company/aapl/2012/daily.csv
AAPL in year 2013 has been write to gs://zhongyuan-dw/equity/company/aapl/2013/daily.csv
AAPL in year 2014 has been write to gs://zhongyuan-dw/equity/company/aapl/2014/daily.csv
AAPL in year 2015 has been write to gs://zhongyuan-dw/equity/company/aapl/2015/daily.csv
AAPL in year 2016 has been write to gs://zhongyuan-dw/equity/company/aapl/2016/daily.csv
AAPL in year 2017 has been write to gs://zhongyuan-dw/equity/company/aapl/2017/daily.csv
AAPL in year 2018 has been write to gs://zhongyuan-dw/equity/company/aapl/2018/daily.csv
AAPL in year 2019 has been write to gs://zhongyuan-dw/equity/company/aapl/2019/daily.csv
AAPL in year 2020 has been write to gs://zhongyuan-dw/equity/company/aapl/2020/daily.csv
======================================================================================================================================================

In [ ]:
# Load data to Cloud storage and SQL

table_name = 'nasdaq_hourly'
period = '2y'

for t in nasdaq_ticker:
    ticker = t
    print(datetime.now())
    
    %run -i 'notebooks/etl/yfinance/update_stock_price.py'
    print("======================================================================================================================================================")

In [ ]:

# Close connection
connection.close()