In [43]:
# Due to the file system setting of the Jupyter Notebook, navigate to the package to use infra
%cd /home/jupyter/quant

/home/jupyter/quant

#### Create yfinance SQL tables for the first time

In [44]:
%run -i 'notebooks/etl/yfinance/create_sql_tables.py'

/opt/conda/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1050, "Table 'nasdaq_daily' already exists")
  result = self._query(query)

In [45]:
from datetime import datetime

### Extract and insert stock price datato cloud storage and SQL

#### Batch Load Max history data

In [46]:
ticker = 'AAPL'
password = 'jinyongwuxia'
table_name = 'nasdaq_daily'
period = 'max'

In [49]:
# Recent executed on
print(datetime.now())
print("======================================================================================================================================================")

%run -i 'notebooks/etl/yfinance/load_stock_price_daily.py'
print("======================================================================================================================================================")

2020-03-30 05:25:14.117392
======================================================================================================================================================
[*********************100%***********************]  1 of 1 completed
AAPL in year 1980 has been write to gs://zhongyuan-dw/equity/company/aapl/1980/daily.csv
AAPL in year 1981 has been write to gs://zhongyuan-dw/equity/company/aapl/1981/daily.csv
AAPL in year 1982 has been write to gs://zhongyuan-dw/equity/company/aapl/1982/daily.csv
AAPL in year 1983 has been write to gs://zhongyuan-dw/equity/company/aapl/1983/daily.csv
AAPL in year 1984 has been write to gs://zhongyuan-dw/equity/company/aapl/1984/daily.csv
AAPL in year 1985 has been write to gs://zhongyuan-dw/equity/company/aapl/1985/daily.csv
AAPL in year 1986 has been write to gs://zhongyuan-dw/equity/company/aapl/1986/daily.csv
AAPL in year 1987 has been write to gs://zhongyuan-dw/equity/company/aapl/1987/daily.csv
AAPL in year 1988 has been write to gs://zhongyuan-dw/equity/company/aapl/1988/daily.csv
AAPL in year 1989 has been write to gs://zhongyuan-dw/equity/company/aapl/1989/daily.csv
AAPL in year 1990 has been write to gs://zhongyuan-dw/equity/company/aapl/1990/daily.csv
AAPL in year 1991 has been write to gs://zhongyuan-dw/equity/company/aapl/1991/daily.csv
AAPL in year 1992 has been write to gs://zhongyuan-dw/equity/company/aapl/1992/daily.csv
AAPL in year 1993 has been write to gs://zhongyuan-dw/equity/company/aapl/1993/daily.csv
AAPL in year 1994 has been write to gs://zhongyuan-dw/equity/company/aapl/1994/daily.csv
AAPL in year 1995 has been write to gs://zhongyuan-dw/equity/company/aapl/1995/daily.csv
AAPL in year 1996 has been write to gs://zhongyuan-dw/equity/company/aapl/1996/daily.csv
AAPL in year 1997 has been write to gs://zhongyuan-dw/equity/company/aapl/1997/daily.csv
AAPL in year 1998 has been write to gs://zhongyuan-dw/equity/company/aapl/1998/daily.csv
AAPL in year 1999 has been write to gs://zhongyuan-dw/equity/company/aapl/1999/daily.csv
AAPL in year 2000 has been write to gs://zhongyuan-dw/equity/company/aapl/2000/daily.csv
AAPL in year 2001 has been write to gs://zhongyuan-dw/equity/company/aapl/2001/daily.csv
AAPL in year 2002 has been write to gs://zhongyuan-dw/equity/company/aapl/2002/daily.csv
AAPL in year 2003 has been write to gs://zhongyuan-dw/equity/company/aapl/2003/daily.csv
AAPL in year 2004 has been write to gs://zhongyuan-dw/equity/company/aapl/2004/daily.csv
AAPL in year 2005 has been write to gs://zhongyuan-dw/equity/company/aapl/2005/daily.csv
AAPL in year 2006 has been write to gs://zhongyuan-dw/equity/company/aapl/2006/daily.csv
AAPL in year 2007 has been write to gs://zhongyuan-dw/equity/company/aapl/2007/daily.csv
AAPL in year 2008 has been write to gs://zhongyuan-dw/equity/company/aapl/2008/daily.csv
AAPL in year 2009 has been write to gs://zhongyuan-dw/equity/company/aapl/2009/daily.csv
AAPL in year 2010 has been write to gs://zhongyuan-dw/equity/company/aapl/2010/daily.csv
AAPL in year 2011 has been write to gs://zhongyuan-dw/equity/company/aapl/2011/daily.csv
AAPL in year 2012 has been write to gs://zhongyuan-dw/equity/company/aapl/2012/daily.csv
AAPL in year 2013 has been write to gs://zhongyuan-dw/equity/company/aapl/2013/daily.csv
AAPL in year 2014 has been write to gs://zhongyuan-dw/equity/company/aapl/2014/daily.csv
AAPL in year 2015 has been write to gs://zhongyuan-dw/equity/company/aapl/2015/daily.csv
AAPL in year 2016 has been write to gs://zhongyuan-dw/equity/company/aapl/2016/daily.csv
AAPL in year 2017 has been write to gs://zhongyuan-dw/equity/company/aapl/2017/daily.csv
AAPL in year 2018 has been write to gs://zhongyuan-dw/equity/company/aapl/2018/daily.csv
AAPL in year 2019 has been write to gs://zhongyuan-dw/equity/company/aapl/2019/daily.csv
AAPL in year 2020 has been write to gs://zhongyuan-dw/equity/company/aapl/2020/daily.csv
======================================================================================================================================================

In [51]:
ts_pd.reset_index(inplace=True)

In [58]:
# Insert data into SQL table
# Set up cloud sql connections
connection = pymysql.connect(host=PRIVATE_HOST,
                             user=USER,
                             password=password,
                             db=DATABASE)

with connection.cursor() as cursor:
    for index, row in ts_pd.head(5).iterrows():
        sql = """
        INSERT INTO {table_name}({ticker}, {datetime}, {open}, {high}, {low}, {close}, {volume}, {year}, {month}, {day}, {updated_at}) 
        VALUES('{ticker_v}', '{datetime_v}', {open_v}, {high_v}, {low_v}, {close_v}, {volume_v}, {year_v}, {month_v}, {day_v}, '{updated_at_v}');
        """.format(table_name=table_name,
                   ticker=TICKER,
                   datetime=DATETIME,
                   open=OPEN, high=HIGH, low=LOW, close=CLOSE, volume=VOLUME,
                   year=YEAR, month=MONTH, day=DAY, updated_at=UPDATED_AT,
                   ticker_v=row[TICKER],
                   datetime_v=row[DATETIME],
                   open_v=row[OPEN], high_v=row[HIGH], low_v=row[LOW], close_v=row[CLOSE], volume_v=row[VOLUME],
                   year_v=row[YEAR], month_v=row[MONTH], day_v=row[DAY], updated_at_v=row[UPDATED_AT])

        print(sql)
        cursor.execute(sql)

        # connection is not autocommit by default. So you must commit to save your changes.
        connection.commit()

cursor.close()

datetime      1980-12-12 00:00:00
open                     0.406782
high                      0.40855
low                      0.406782
close                    0.406782
volume                  117258400
year                         1980
month                          12
day                            12
ticker                       AAPL
updated_at    2020-03-30 05:25:14
Name: 0, dtype: object

        INSERT INTO nasdaq_daily(ticker, datetime, open, high, low, close, volume, year, month, day, updated_at)
        VALUES('AAPL', '1980-12-12 00:00:00', 0.40678155422210693, 0.4085501628991805, 0.40678155422210693, 0.40678155422210693, 117258400, 1980, 12, 12, '2020-03-30 05:25:14');

datetime      1980-12-15 00:00:00
open                     0.387327
high                     0.387327
low                      0.385558
close                    0.385558
volume                   43971200
year                         1980
month                          12
day                            15
ticker                       AAPL
updated_at    2020-03-30 05:25:14
Name: 1, dtype: object

        INSERT INTO nasdaq_daily(ticker, datetime, open, high, low, close, volume, year, month, day, updated_at)
        VALUES('AAPL', '1980-12-15 00:00:00', 0.3873267904614357, 0.3873267904614357, 0.3855581581592559, 0.385558158159256, 43971200, 1980, 12, 15, '2020-03-30 05:25:14');

datetime      1980-12-16 00:00:00
open                     0.359029
high                     0.359029
low                       0.35726
close                     0.35726
volume                   26432000
year                         1980
month                          12
day                            16
ticker                       AAPL
updated_at    2020-03-30 05:25:14
Name: 2, dtype: object

        INSERT INTO nasdaq_daily(ticker, datetime, open, high, low, close, volume, year, month, day, updated_at)
        VALUES('AAPL', '1980-12-16 00:00:00', 0.3590288953091103, 0.3590288953091103, 0.3572602868080139, 0.3572602868080139, 26432000, 1980, 12, 16, '2020-03-30 05:25:14');

datetime      1980-12-17 00:00:00
open                     0.366103
high                     0.367872
low                      0.366103
close                    0.366103
volume                   21610400
year                         1980
month                          12
day                            17
ticker                       AAPL
updated_at    2020-03-30 05:25:14
Name: 3, dtype: object

        INSERT INTO nasdaq_daily(ticker, datetime, open, high, low, close, volume, year, month, day, updated_at)
        VALUES('AAPL', '1980-12-17 00:00:00', 0.3661033511161804, 0.36787195960852864, 0.3661033511161804, 0.3661033511161804, 21610400, 1980, 12, 17, '2020-03-30 05:25:14');

datetime      1980-12-18 00:00:00
open                     0.376715
high                     0.378484
low                      0.376715
close                    0.376715
volume                   18362400
year                         1980
month                          12
day                            18
ticker                       AAPL
updated_at    2020-03-30 05:25:14
Name: 4, dtype: object

        INSERT INTO nasdaq_daily(ticker, datetime, open, high, low, close, volume, year, month, day, updated_at)
        VALUES('AAPL', '1980-12-18 00:00:00', 0.3767151534557343, 0.3784837624370869, 0.3767151534557343, 0.37671515345573425, 18362400, 1980, 12, 18, '2020-03-30 05:25:14');